* {
  box-sizing: border-box;
}
/* Updated font size for rem use */
html {
  font-size: 62.5%;
}
h2 {
  font-size: 3rem;
}
p {
    font-size: 2rem;
    text-align: center;
}

header {
  display: flex;
  padding: 1rem;
  background-color: #242526;
  justify-content: center;
}
body {
  line-height: 1.5;
  background-color: #e4e6eb;
}
h1 {
  color: white;
  font-size: 4rem;
  font-style: oblique;
}
button {
    background-color: #2e2c2c;
    font-size: 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    margin-bottom: 1rem;
    padding: 0.5rem;

    
}
/* #start-btn {
    display: flex;
    justify-content: center;
    margin-left: 14rem;

} */
.container {
  display: flex;
  flex-wrap: wrap;
}
.column-card {
  flex: 1 0 100%;
  border: 1rem solid #242526;
}
.card {
 
}
img {
    border: solid #242526;
}


.box {
    display: flex;
    /* border: 1rem dotted red; */
    padding: 1rem;
    justify-content: center;
    background-color: #696a6e;
    
    
}
.quiz-container {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 10px 0;
}
.btn {
  background-color: #242526;
  
  
}
.btn:hover {
  border-color: #e4e6eb;
}
#question {
  font-size: 2.5rem;
  
}



@media screen and (min-width: 768px) {
  .column-card {
    flex: 0 0 25%;
    max-width: 25%;
    margin
  }
}

